version: 1.0.{build}

image: Visual Studio 2017

cache:
- c:\tools\vcpkg\installed

before_build:
  - vcpkg install getopt:x64-windows
  - vcpkg integrate install
  - cmake -DLSQPACK_TESTS=ON -DCMAKE_GENERATOR_PLATFORM=x64 -DVCPKG_TARGET_TRIPLET=x64-windows -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CONFIGURATION_TYPES=Debug -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake -DGETOPT_INCLUDE_DIR=c:/tools/vcpkg/installed/x64-windows/include -DGETOPT_LIB=c:/tools/vcpkg/installed/x64-windows/lib/getopt.lib .

build_script:
  - cmake --build .

before_test:
  - set PATH=%PATH%;c:\projects\ls-qpack\bin\Debug

test_script:
  - dir
  - msbuild RUN_TESTS.vcxproj 
